{% style %}
  #shopify-section-{{block.id}} {
    background-color: {{ block.settings.background_color }};
  }

  #shopify-section-{{block.id}}.alt-img-with-text--container .home-section--title {
    color: {{ block.settings.heading_color }};
  }

  #shopify-section-{{block.id}}.alt-img-with-text--container .home-section--subheading {
    color: {{ block.settings.subheading_color }};
  }

  #shopify-section-{{block.id}}.alt-img-with-text--container {
    padding-top: {{ block.settings.section_spacing_mobile }}px;
    padding-bottom: {{ block.settings.section_spacing_mobile }}px;
  }

  @media screen and (min-width: 720px) {
    #shopify-section-{{block.id}}.alt-img-with-text--container {
      padding-top: {{ block.settings.section_spacing_desktop }}px;
      padding-bottom: {{ block.settings.section_spacing_desktop }}px;
    }
    .alt-img-with-text--container:not(.no-img)+style+.alt-img-with-text--container{
      padding-top: 0!important;
    }
  }
{% endstyle %}

<section class="alt-img-with-text--container" id="shopify-section-{{block.id}}">
    {% style %}
      #shopify-section-{{block.id}} #block-{{block.id}} .alt-img-with-text--button.button-signpost {
        color: {{ block.settings.signpost_color }};
      }

      #shopify-section-{{block.id}} #block-{{block.id}} {
        background-color: {{ block.settings.content_background_color }};
        {% if forloop.index > 1 %}
          margin-top: {{block.settings.content_spacing}}px
        {% endif %}
      }

      #shopify-section-{{block.id}} #block-{{block.id}} .preheading {
        color: {{ block.settings.preheading_color }};
      }

      #shopify-section-{{block.id}} #block-{{block.id}} .heading {
        color: {{ block.settings.heading_color }};
      }

      #shopify-section-{{block.id}} #block-{{block.id}} .text-content {
        color: {{ block.settings.text_content_color }};
      }

      @media screen and (min-width: 720px) {
        #shopify-section-{{block.id}} #block-{{block.id}} .alt-img-with-text--text {
          width: {{- 100 | minus: block.settings.img_width_desktop -}}%;
        }
      }
    {% endstyle %}

    {% assign onboarding = false %}

    {% if block.settings.img_desktop == blank %}
      {% assign onboarding = true %}
    {% endif %}

    {%- capture desktop_background_style -%}
      {% unless onboarding %}
        {%- if block.settings.img_height_desktop == 'natural' -%}
          {% assign ratio = block.settings.img_width_desktop | divided_by: 100.00 %}
          padding-bottom: {{- 100 | divided_by: block.settings.img_desktop.aspect_ratio | times: ratio -}}%;
        {%- endif -%}
      {% endunless %}
    {%- endcapture -%}

    {%- capture mobile_background_style -%}
      {% unless onboarding %}
        {%- if block.settings.img_height_mobile == 'natural' -%}
          {%- if block.settings.img_mobile -%}
            padding-bottom: {{- 100 | divided_by: block.settings.img_mobile.aspect_ratio -}}%;
          {%- else -%}
            padding-bottom: {{- 100 | divided_by: block.settings.img_desktop.aspect_ratio -}}%;
          {%- endif -%}
        {%- endif -%}
      {% endunless %}
    {%- endcapture -%}

    {% unless onboarding %}
      {% capture desktop_image %}
        background: url({{ block.settings.img_desktop | img_url: 'master' }}) no-repeat 50% 50% / cover;
      {% endcapture %}

      {% capture mobile_image %}
        {% if block.settings.img_mobile %}
          background: url({{ block.settings.img_mobile | img_url: 'master' }}) no-repeat 50% 50% / cover;
        {% else %}
          background: url({{ block.settings.img_desktop | img_url: 'master' }}) no-repeat 50% 50% / cover;
        {% endif %}
      {% endcapture %}
    {% endunless %}

    <div
      {{ block.shopify_attributes }}
      id="block-{{- block.id -}}"
      class="
        alt-img-with-text--content
        {% if onboarding %}onboarding{% endif %}
        image-{{ block.settings.img_position_desktop }}
        image-{{ block.settings.img_position_mobile }}"
    >

      {% comment %}
        Text content
      {% endcomment %}

      <div
        class="
          alt-img-with-text--text
          position-{{ block.settings.text_vertical_position }}
          alignment-{{ block.settings.text_alignment }}"
      >
          {% if block.settings.preheading != blank %}
            <div class="preheading u-h4">
              {{ block.settings.preheading }}
            </div>
          {% endif %}

          {% if block.settings.heading != blank %}
            <div class="heading {{ block.settings.heading_size }} u-h2">
              {{ block.settings.heading }}
            </div>
          {% endif %}

          {% if block.settings.text_content != blank %}
            <div class="text-content u-h3 Rte">
              {{ block.settings.text_content }}
            </div>
          {% endif %}

          {% comment %}
            Button
          {% endcomment %}

          {% if block.settings.button_text != blank %}

            {% unless block.settings.block_link == true %}
              {% if block.settings.button_link %}
                <a class="button-link" href="{{ block.settings.button_link }}">
              {% endif %}
            {% endunless %}

            {% assign button_style = block.settings.button_style | split: "_" %}

            {%- capture button_classes -%}
              button button--primary
            {%- endcapture -%}

            <span class="{{- button_classes -}}">
              <span class="button-text">
                {{- block.settings.button_text | escape -}}
              </span>

              {% if button_style contains 'icon' or button_style contains 'signpost' %}
                  {% if button_style contains 'icon' %}
                    <span class="button-icon">
                      {% include 'icon-library', id: 'icon-chevron-signpost' %}
                    </span>
                  {% else if button_style contains 'signpost' %}
                    <span class="signpost-icon">
                      {% include 'icon-library', id: 'icon-chevron-down-small' %}
                    </span>
                  {% endif %}
              {% endif %}

            </span>

            {% unless block.settings.block_link == true %}
              {% if block.settings.button_link %}
                </a>
              {% endif %}
            {% endunless %}

          {% endif %}
      </div>

      {% comment %}
        Desktop image
      {% endcomment %}

      <div onclick="window.open('{{ block.settings.button_link }}','mywindow');"
          class="
            height-{{ block.settings.img_height_desktop }}
            alt-img-with-text--image
            image-desktop"
        style="cursor: pointer;
               width:{{- block.settings.img_width_desktop -}}%;
        {%- if block.settings.img_height_desktop == 'custom' -%}
          height:{{- block.settings.custom_height_desktop -}}px;
        {% else %}
          {{ desktop_background_style }}
        {%- endif -%}

        {%- if onboarding -%}
          {%- capture placeholder -%}
            {%-
              include 'placeholder_svg_uri'
              placeholder: 'image'
            -%}
          {%- endcapture -%}
          background-image: url('{{ placeholder | strip_newlines }}')
        {%- endif -%}

        {% unless onboarding %}
          {{ desktop_image }}
        {% endunless %}
        "

      >
      </div>

      {% comment %}
        Mobile image
      {% endcomment %}

      <div onclick="window.open('{{ block.settings.button_link }}','mywindow');"
        class="
          height-{{ block.settings.img_height_mobile }}
          alt-img-with-text--image
          image-mobile"
        style="cursor: pointer;
        {% if block.settings.img_height_mobile == 'custom' %}
          height:{{- block.settings.custom_height_mobile -}}px
        {% else %}
          {{ mobile_background_style }}
        {% endif %}

        {%- if onboarding -%}
          {%- capture placeholder -%}
            {%-
              include 'placeholder_svg_uri'
              placeholder: 'image'
            -%}
          {%- endcapture -%}
          background-image: url('{{ placeholder | strip_newlines }}')
        {%- endif -%}
        
        {% unless onboarding %}
          {{ mobile_image }}
        {% endunless %}
        "
      >
      </div>
    </div>
</section>


